.workout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    height: 40px;
}

.workout-btn:hover{
    cursor: pointer;
}

.workout-1{
    background-color: var(--color2);
    color: black;
}

.workout-2{
    background-color: var(--color1);
    color: white;
}