.TimetablePage{
    gap: 100px;
    flex-direction: row;
}

/* Add a marker to highlight specific dates */
.highlighted-date {
    background-color: var(--color2);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 2px;
  }
  .workouts-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .calendar-message-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
  }

  @media (max-width:820px) {

    .TimetablePage{
      padding: 20px;
      gap: 100px;
      flex-direction: column;
  }

    
}