
.Header {
    padding: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 46, 74);
    color: rgb(232, 69, 69);

}


.btn-container {
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.Header button {
    color: white;
    padding: 10px;
    background-color: transparent;
    font-size: larger;
    font-weight: bolder;
    border: none;

}
.Header button:hover {
    color: black;
    background-color: rgb(225,225,225,0.7);
    border-radius: 5px;
    cursor: pointer;
}