.LoginPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 0%;
    z-index: 20;
    background-color: white; */
}

.img-login {
    height: 120px;
    width: 230px;

}

.login-container {
    padding: 30px;
    height: 500px;
    width: 300px;
    border: solid var(--color1) 3px;
    color:var(--color1);
    /* background-color: var(--color2); */
    border-radius: 10px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-container form div{
    width: 100%;
}
.login-container form input{
    width: 100%;
}
.login-container button{
    width: 100%;
    height: 30px;
    background-color:var(--color1);
    
    border: none ;
    border-radius: 5px;
    color: white;
}

.login-container input{
    width: 100%;
    height: 30px;
    
    border-radius: 5px;
}

.login-container button:hover{
    width: 100%;
    height: 30px;
    background-color: rgb(219, 226, 239);
    border: none ;
    border-radius: 5px;
    color: rgb(17, 45, 78);
    font-weight: bolder;
}
.error-container{
    color: red;
    border: solid black 2px;
}