.change-container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 310px;
    height: 280px;
    /* border: saddlebrown solid 2px; */

}
.update-btn{
   padding: 10px;
    border-radius: 10px;
    background-color: var(--color2);
}
.update-btn:hover{

     background-color: var(--color1);
     color: var(--color2);
     font-weight: bold;
 }

 /* @media (max-width:820px) {



    
 } */