* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
:root {
  --color1: #2B2E4A;
  --color2: #E84545;
  --color3: #903749;
  --color4: #53354A;
}
:root {
  --color1: #222831;
  --color2: #00ADB5;
  --color3: #903749;
  --color4: #53354A;
}
:root {
  --color1: #2D4059;
  --color2: #EA5455;
  --color3: #F07B3F;
  --color4: #FFD460;
}
/* :root {
  --color4: #F5F7F8;
  --color1: #F4CE14;
  --color2: #495E57;
  --color3: #45474B;
} */
/* :root {
  --color1: #FBA834;
  --color2: #333A73;
  --color3: #387ADF;
  --color4: #50C4ED;
} */



.App {
  width: 100%;
  min-height: 100vh;
}
.page {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

