* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
/* :root {
  --color1: #2B2E4A;
  --color2: #E84545;
  --color3: #903749;
  --color4: #53354A;
} */
:root {
  --color1: #222831;
  --color2: #00ADB5;
  --color3: #903749;
  --color4: #53354A;
}
.App {
  width: 100%;
  min-height: 100vh;
}
.page {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

